body 
{background-color: black;font-family: Arial;color:white;}

h1
{color: grey;font-family: Verdana;}

.maindiv
{   background-color:white;
    color: black;
    width: 500px;
    height:300px;
    padding: 20px;
    border-radius: 25px;
    align-content: center;
}

.labels
{width: 120px;}

.highlight
{background-color: yellow;}

#table
{ padding-bottom: 20px;}

#compute
{margin-bottom: 20px;
    background-color: lightgrey;
    color: black;
    height: 20px;   width: 150px;}

#principal{height: 20px;
    width: 130px;}

#years{height: 20px;
    width: 40px;}

#footer
{margin-top: 10px;}





